.App {
  text-align: center;
  width: 98%;
  margin: auto;
  height: 100vh;
  color: rgba(255, 255, 255, 0.75);
}
nav {
  position: absolute;
  background: rgba(35, 133, 0, 0.85);
  margin: auto;
}
nav .burger ~ .menu {
  background: rgba(27, 102, 0, 0.8);
}
.username-form {
  position: relative;
  top: 50%;
}

@media only screen and (min-width: 1200px) {
  .App {
    width: 50%;
    border: 1px solid rgba(128, 255, 0, 0.125);
    border-radius: 5px;
  }
  nav .burger ~ .menu {
    background: transparent;
  }
  nav {
    width: 50%;
  }
}
