.App {
  text-align: center;
  width: 98%;
  margin: auto;
  height: 100vh;
  color: rgba(255, 255, 255, 0.75);
}
nav {
  background: rgba(35, 133, 0, 0.85);
  margin: auto;
  position: absolute;
  /* height: 2em; */
  font-size: 1rem;
}

.username-form {
  position: relative;
  top: 50%;
}

@media only screen and (min-width: 60em) {
  .App {
    width: 50%;
    border: 1px solid rgba(128, 255, 0, 0.125);
    border-radius: 5px;
  }
  nav .burger ~ .menu {
    background: transparent;
  }
  nav {
    width: 50%;
  }
}

@media only screen and (max-width: 60em) {
  /* nav {
    position: absolute;
  } */
  nav .burger ~ .menu,
  nav .show:checked ~ .burger {
    height: 100vh;
    top: 2em;
  }
  nav .burger ~ .menu {
    background: rgba(27, 102, 0, 0.8);
  }
}
